@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh;*/
    box-sizing: border-box;
    background-color:black;
    color: white;
a {
   color:aliceblue;
 }

.cabecalho {
padding: 2% 0 0 15%;
}

 .cabecalho__menu {
    display:flex;
    gap:40px;
 }
 .cabecalho__menu__link {
    font-family:"Montserrat", "sans-serif";
    font: size 24px;
    font-weight:600;
    text-decoration:none;
 }
.elementos {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}   

.elementos__texto-principal {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.elementos__texto-principal__titulo {
    font-size: 25px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;   
    color: #D62828;
}
.elementos__texto-principal__paragrafo {
    font-size: 14px;
    width: 400px;
    font-family: "Montserrat", sans-serif;
    
}

.elemento__texto-subtítulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px; 
}

.elementos__redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    gap: 32px;
}
.elementos__redes-sociais__instagram {
    display:flex;
    justify-content:center;
    gap: 12px;  
    border:2px solid #fd22f2;
    border-radius: 8px;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:blueviolet;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}
.elementos__redes-sociais__instagram:hover {
    background-color:rgb(87, 5, 87);
}
.elementos__redes-sociais__github {
    display:flex;
    justify-content:center;
    gap: 12px;  
    border:2px solid whitesmoke;
    border-radius: 8px;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.elementos__redes-sociais__github:hover {
  background-color: rgb(45, 75, 175);    
}
.imagem-principal img{
    width:70%;
    height:auto;
}
}

.titulo-forte1  {
        color: #6622CC;
    }

.rodape {
    color:#e00429;

.contato {
        color: rgb(192, 16, 16);
    }
}
