@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color:black;
    color: white;
a {
   color:aliceblue;
 }

.elementos {
    margin: 7% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;    

.elementos__texto-principal {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.elementos__texto-principal__titulo {
    font-size: 25px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;   
    color: #D62828;
}
.elementos__texto-principal__paragrafo {
    font-size: 14px;
    width: 400px;
    font-family: "Montserrat", sans-serif;
    
}
.elementos__redes-sociais {
    display: flex;
    justify-content: space-between;
}
.elementos__redes-sociais__instagram {
    background-color:plum;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:blueviolet;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.elementos__redes-sociais__github {
    background-color:cornflowerblue;
    width: 280px;
    text-align:center;
    border-radius: 16px;
    font-size:24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.titulo-forte1  {
        color: #6622CC;
    }
}
 footer {
    color:firebrick;
    a {
        color: pink;
    }
 }
}